@media only screen and (max-width:600px) {
    .navbar {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(22 22 23 / 80%);
        position: sticky;
        top: 0;
        z-index: 20000;
    }
    
    /* .navbar-all-tags{
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    } */
    
    .navbar li {
    
        list-style: none;
        padding: 0rem 0.3rem;
    }
    
    .navbar>li a {
    
        text-decoration: none;
        color: rgba(255 255 255 / 80%);
        font-size: 12px;
        font-weight: 400;
    }
    
    .heropage {
    
        position: relative;
        top: 0rem;
        left: 0;
        width: 100%;
        height: 100vh;
        /* background-color: green; */
        box-sizing: border-box;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .heropage img {
    
        width: 46vw;
        height: 43vw;
    
    }
    
    .overlay {
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: rgba(0, 255, 255, 0.016); */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .material {
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    
    .material img {
    
        width: 250px;
        height: 40px;
    }
    
    #welcome {
    
        color: black;
        text-align: center;
        font-size: 1.7rem;
        margin-top: 0.6rem;
    }
    
    
    #learn {
    
        color: rgb(36, 162, 190);
        text-decoration: none;
        font-size: 1.4rem;
        margin-top: 0.6rem;
    
    }
    
    #para {
    
        text-align: center;
        width: 270px;
        margin-top: 0.6rem;
    }
    
    /* 
    .material h3,p,a{
    
        font-size: 20px;
        line-height: 0.2;
        font-weight: 600;
        letter-spacing: .009em;
        font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        text-align: center;
        text-decoration: none;
        margin-top: 2.5rem;
    } */
    
    
    .iphone15 {
    
        width: 100%;
        height: 100vh;
        background-color: black;
        position: relative;
        /* top: 4rem; */
    }
    
    .newphoria {
    
        width: 100%;
        height: 100vh;
        background-color: white;
        position: relative;
        /* top: 4rem; */
    }
    
    .mightier {
        width: 100%;
        height: 100vh;
        background-color: aqua;
        position: relative;
    
    }
    
    .headturning {
        width: 100%;
        height: 100vh;
        background-color: rgb(190, 181, 13);
        position: relative;
    }
    
    .cardcash {
    
        width: 100%;
        height: 100vh;
        background-color: rgb(135, 12, 71);
        position: relative;
    }
    
    .slider {
    
        width: 100%;
        height: 100vh;
        background-color: rgb(86, 8, 125);
        position: relative;
    }
    
    .lastpage {
    
        width: 100%;
        height: 100vh;
        background-color: rgb(174, 85, 8);
        position: relative;
    }
    
    .bottom {
    
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: end;
    }
    
    .bottom video {
    
        width: 60%;
        height: 100%;
    }
    
    .top {
    
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    }
    
    .top p {
    
        font-size: 2vw;
    }
    
    .top h1 {
    
        font-size: 3.6vw;
    }
    
    #href {
    
        padding: 1rem 0rem;
        display: flex;
        justify-content: space-around;
        width: 150px;
    }
    
    
    #href a {
    
        font-size: 21px;
        text-decoration: none;
        color: #2997ff;
    
    }
    
    .bottom2 {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: end;
        overflow: hidden;
    }
    
    .bottom2 img {
    
        width: 450;
        height: 56%;
        position: relative;
        top: 1.5rem;
    
    }
    
    .top2 {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    
    }
    
    .top2 p {
    
        font-size: 2vw;
    }
    
    .top2 h1 {
    
        font-size: 3.6vw;
    }
    
    .mightier {
    
        display: flex;
    }
    
    .left {
    
        width: 50%;
        height: 100%;
        background-color: black;
    }
    
    .right {
    
        width: 50%;
        height: 100%;
        background-color: white;
    }
    
    .bottom3 {
    
        width: 100%;
        height: 60%;
    }
    
    .bottom3 img {
    
        width: 100%;
        height: 100%;
    }
    
    .bottom4 {
    
        width: 100%;
        height: 60%;
        /* background-color: red; */
    }
    
    .allimages {
    
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .allimages img {
    
        width: 90px;
        height: 90px;
    }
    
    .top3 {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    
    }
    
    .top4 {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    
    }
    
    .top3 p {
    
        font-size: 2vw;
    }
    
    .top3 h1 {
    
        font-size: 3.6vw;
    }
    
    .top4 p {
    
        font-size: 2vw;
    }
    
    .top4 h1 {
    
        font-size: 3.6vw;
    }
    
    .headturning {
    
        display: flex;
    }
    
    .left2 {
        width: 50%;
        height: 100%;
        background-color: white;
    
    }
    
    .right2 {
        width: 50%;
        height: 100%;
        background-color: white;
    
    }
    
    .bottom5 {
        width: 100%;
        height: 60%;
    }
    
    
    
    .bottom5 img {
        width: 100%;
        height: 80%;
    
    }
    
    .bottom6 {
        width: 100%;
        height: 60%;
    }
    
    
    
    .bottom6 img {
        width: 100%;
        height: 100%;
    
    
    }
    
    .top5 {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    
    }
    
    .top5 p {
    
        font-size: 2vw;
    }
    
    .top5 h1 {
    
        font-size: 3.6vw;
    }
    
    .top6 {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    
    }
    
    .top6 p {
    
        font-size: 2vw;
    }
    
    .top6 h1 {
    
        font-size: 3.6vw;
    }
    
    .cardcash {
    
        display: flex;
    }
    
    .left3 {
        width: 50%;
        height: 100%;
        background-color: white;
    
    }
    
    .right3 {
        width: 50%;
        height: 100%;
        background-color: white;
    
    }
    
    .bottom7 {
        width: 100%;
        height: 60%;
    }
    
    
    
    .bottom7 img {
        width: 100%;
        height: 100%;
    
    }
    
    .bottom8 {
        width: 100%;
        height: 60%;
    }
    
    
    
    .bottom8 img {
        width: 100%;
        height: 80%;
    
    
    }
    
    .top7 {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    
    }
    
    .top7 p {
    
        font-size: 2vw;
    }
    
    .top7 h1 {
    
        font-size: 3.6vw;
    }
    
    .top8 {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
    
    }
    
    .top8 p {
    
        font-size: 2vw;
    }
    
    .top8 h1 {
    
        font-size: 3.6vw;
    }
    
    
}